* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    text-decoration: none;
    list-style: none;
    line-height: 1;
}

@font-face {
    font-family: 'Iransans';
    src: url(/fonts/IRANSansWeb.woff)
}

body {
    height: 100vh;
    font-family: 'Iransans';
}

/* .main {
    background: #fff;
    width: 20rem;
    height: 30rem;
    border-radius: 20px;
    margin-top: 5rem !important;
}

.input {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
}


#inputWord {
    padding: .5rem;
    border-radius: 5px;
}

.search {
    background-image: linear-gradient(90deg, rgba(198,137,198,1) 0%, rgba(198,137,198,1) 50%, rgba(232,160,191,1) 100%);;
    width: 8rem;
}

.search:hover {
}


.inputBox {
    display: flex;
    flex-direction: row;
}

.find {
    position: absolute;
    top: 30%;
    margin-left: 5px;
    cursor: pointer;
}

.close {
    position: absolute;
    left: 90%;
    top: 30%;
    cursor: pointer;
}


.translate {
    height: 30vh;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.translate>label,
.translate>h3 {
    height: 2rem;
    font-size: 1rem;
    text-align: left;
}

.firstAcc {
    border: 1px solid black;
    width: 15rem;
    height: 3rem;
    padding-left: 1rem;
    text-align: start;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.firstAcc:hover {
    background: gray;
    transition: all 0.4s ease-in-out;
    color: white;
}
.caret,
.caret2,
.caret3 {
    width: 1.5rem;
    position: absolute;
    right: 5%;
    cursor: pointer;
    transition: 0.4s;
}

.searchInput,
.answer,
.sample {
    display: none;
    width: 12rem;
    padding-left: 1rem;
} */



